<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table th:border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Solo view</th>
    </tr>

    <tr th:each="user : ${users}">
        <th th:utext="${user.getId()}" />
        <th th:utext="${user.getName()}" />
        <th th:utext="${user.getLastName()}" />
        <th th:utext="${user.getCity()}" />
        <th> <form th:method="POST" th:action="@{/users/edit (id=${user.getId()})}" th:object="${user}">
            <input type="submit" value="Edit" />
        </form></th>
        <th> <form th:method="POST" th:action="@{/users/?id={id}(id=${user.getId()})}">
            <input type="submit" value="Pls no" />
        </form> </th>
        <th> <form th:method="POST" th:action="@{/users/view (id=${user.getId()})}">
            <input type="submit" value="View" />
        </form> </th>
    </tr>
</table>

<br/>

<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Add new user" />
</form>

</body>
</html>